{% extends 'template.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
<h1> Inscription sur le site </h1>
{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
     {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}

    <button type="submit">Register!</button>
    {{form_end(form)}}
   
{% endblock %}


