<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
              {% endblock %}

      
    </head>
    <body>
  

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    {% block javascripts %}
      {% endblock %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Centre de formation </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('acceuil') }}">Qui sommes nous  <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Formation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('formation_list') }}">construction metallique </a>
          <a class="dropdown-item" href="#">soudure</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Installateur </a>
        </div>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{{path('new_formation') }}">ajouter formation <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">recrutement <span class="sr-only">(current)</span></a>
      </li>
     

      <li class="nav-item active">
        <a class="nav-link" href="{{path('contact') }}">Contact <span class="sr-only">(current)</span></a>
      </li>

        {% if not app.user %}
              <li class="nav-item ">
                <a class="nav-link" href="{{path('security_login') }}">Connexion </a>
              </li>
        {% else %}
              <li class="nav-item ">
                <a class="nav-link" href="{{path('security_logout') }}">Déconnexion </a>
              </li>
        {% endif %}


    </ul>
    
  </div>
</nav>
{% include "flash_messages.html.twig" %}
{% block body %}




{% endblock %}
 
    </body>
</html>
