<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CENTRE ATS-FORMATION </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="{{asset('FrontEnd/css/animate.css')}}">


    
    <link rel="stylesheet" href="FrontEnd/css/owl.carousel.min.css">
    <link rel="stylesheet" href="FrontEnd/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="FrontEnd/css/magnific-popup.css">

    <link rel="stylesheet" href="FrontEnd/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="FrontEnd/css/jquery.timepicker.css">

    <link rel="stylesheet" href="FrontEnd/css/flaticon.css">
    <link rel="stylesheet" href="FrontEnd/css/style.css">
	{% endblock %}
	
  </head>
  <body>
		<div class="wrap ">
	    <div class="container">
				<div class="row justify-content-between">
					<div class="col-3 d-flex align-items-center">
						<a class="navbar-brand d-flex" href="index.html"><div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-roof-2"></span></div>Roofing</a>
					</div>
					<div class="col-3 d-flex justify-content-end align-items-center">
						<div class="social-media">
			    		<p class="mb-0 d-flex">
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
			    		</p>
		        </div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="menu-wrap flex-md-column-reverse d-md-flex">
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav mr-auto">
		        	<li class="nav-item"><a href="{{path('acceuil') }}" class="nav-link">Home</a></li>
		        	<li class="nav-item"><a href="{{path('about') }}" class="nav-link">About</a></li>
		       		<li class="nav-item"><a href="{{path('formation_list') }}" class="nav-link">Formation</a></li>
             
		          <li class="nav-item"><a href="{{path('contact') }}" class="nav-link">Contact</a></li>
              
              {% if not app.user %}
               <li class="nav-item"><a href="{{path('security_login') }}" class="nav-link">Connexion</a></li>
              {% else %}
         <li class="nav-item"><a href="{{path('security_logout') }}" class="nav-link">Deconnexion</a></li>
              {% endif %}
		        </ul>
		      </div>
		    </div>
		  </nav>
	    <!-- END nav -->
		</section>
    
     {% include "flash_messages.html.twig" %}
     
   {% block body %}

{% endblock %}
   

    <footer class="footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
              <h2 class="logo"><a href="#"><span class="flaticon-roof-2 mr-2"></span>Centre de formation</a></h2>
              <p> vous propose une offre complète de formation destinée aux entreprises, aux salariés et aux demandeurs d’emploi .</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                <li class="ftco-animate"><a href="https://github.com/Sonia-dev"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://github.com/Sonia-dev"><span class="fa fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://github.com/Sonia-dev"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Soudure </a></li>
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Installation photovoltaique</a></li>
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Installation solaire thermique</a></li>
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Plomberie</a></li>
      
              </ul>
            </div>
          </div>
        
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Contact information</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon fa fa-map-marker"></span><span class="text">Sousse,Tunisie</span></li>
	                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+216 99 999 999</span></a></li>
	                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@formation.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="FrontEnd/js/jquery.min.js"></script>
  <script src="FrontEnd/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="FrontEnd/js/popper.min.js"></script>
  <script src="FrontEnd/js/bootstrap.min.js"></script>
  <script src="FrontEnd/js/jquery.easing.1.3.js"></script>
  <script src="FrontEnd/js/jquery.waypoints.min.js"></script>
  <script src="FrontEnd/js/jquery.stellar.min.js"></script>
  <script src="FrontEnd/js/jquery.animateNumber.min.js"></script>
  <script src="FrontEnd/js/bootstrap-datepicker.js"></script>
  <script src="FrontEnd/js/jquery.timepicker.min.js"></script>
  <script src="FrontEnd/js/owl.carousel.min.js"></script>
  <script src="FrontEnd/js/jquery.magnific-popup.min.js"></script>
  <script src="FrontEnd/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="FrontEnd/js/google-map.js"></script>
  <script src="FrontEnd/js/main.js"></script>


  </body>
</html>